/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 27, 2018, 9:50:25 PM
    Author     : Bailey
*/
.card{
    
}

.homeCards{
    border: 1px solid #aaa;
    border-top: 1px solid #eee;
    border-radius: 7px;
/*    border-top-right-radius: 0px;
    border-top-left-radius: 0px;*/
    padding-top: 1em;
    box-shadow: 0px 15px 25px #999;
}

.searchBar{
    margin: 1em 0;
}

.searchBox{
    margin-top: 1em;
    border: solid 1px #aaa;
    border-radius: 7px;
    box-shadow: 0px 15px 25px #999;
    padding-top: 1em;
}

.detailDescription {
    border-top: 1px solid #777;
    margin: .5em 1em .5em 1em;;
    padding-top: 1em;
}

.detailInfo{
    padding-top: 1em;
    margin: 1em;
    border: solid 1px #aaa;
    border-radius: 7px;
    box-shadow: 0px 15px 25px #999;
}

.studentDetailImage {
    width: 220px;
    height: 220px;
    border: 1px solid #777;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #999;
}

.universityDetailBanner{
    height: 180px;
    width: 100%;
    margin-bottom: 1em;
    border: solid 1px #555;
    border-radius: 5px;
    box-shadow: px 5px 10px #999;
}
